body{
    padding: 0px;
    margin: 0px;
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    background-color: white;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 5px;
}
#url_field{
    width: 58%;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
#sb{
    font-size: 18px;
    border: none;
    margin-left: 10px;
    background-color: blueviolet;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
}
#sb:active{
    background-color: #6a1bb4;
}
@media screen and (max-width:470px){
    #container{
        width: 80%;
    }
}